<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
</head>
<body>
    <div>
        <form action="/dashboard"> <button>Dashboard</button></form>
        <form action="/logout"> <button>logout</button></form>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h1>Edit car</h1>
    <form action="/update/{{car[0].id}}" method="POST">
        <label for="price">Price: </label>
        <input type="number" name="price" value="{{car[0].price}}"><br>
        <label for="model">Model: </label><br>
        <input type="text" name="model" value="{{car[0].model}}"><br>
        <label for="make">Make: </label><br>
        <input type="text" name="make" value="{{car[0].make}}"><br>
        <label for="year">Year: </label><br>
        <input type="year" name="year" value="{{car[0].year}}"><br>
        <label for="description">Description: </label><br>
        <textarea name="description" id="" cols="20" rows="4">{{car[0].description}}</textarea><br>
        <br><br>
        <input type="submit" value="Update">
</body>
</html>