<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Dealz</title>
</head>
<body>
    <a href="/dashboard">Dashboard</a>
    <form action="/dashboard"> <button>Dashboard</button></form>
    <form action="/logout"> <button>logout</button></form>

    <a href="/logout">logout</a>
    <div>
        <h1>${{car[0].price}}</h1>
        <h3>Model: {{car[0].model}}</h3>
        <h3>Make: {{car[0].make}}</h3>
        <h3>Year: {{car[0].year}}</h3>
        <h3>Description: </h3>
        <h4>{{car[0].description}}</h4>
        <br>
        <p>Seller: {{car[0].seller_name}}</p>
        <form action="/purchase/{{car[0].id}}"> <button>Purchase</button></form>
    </div>
</body>
</html>